In [1]:
import numpy as np
import pandas as pd
import numpy as np
import pandas as pd
import multiprocessing
import matplotlib.pyplot as plt
from matplotlib.patches import Ellipse
import math
from tqdm import tqdm
from sympy import symbols, Eq, solve
from sympy.plotting import plot_implicit

W1	L1	W2	L2	φ	H	Px	Py
50~300	100~750	50~300	100~750	0~180	200	180~900	180~900

In [2]:
import pandas as pd
import random

# Set the random seed for reproducibility
random.seed(48)

# Number of data points
num_data_points = 5000000


# Number of segments for each variable
num_segments = 10

# Define the ranges for each parameter
A_range = (240, 450)
B_range = (60, 200)
theta_range = (0, 45)
phi_range = (0, 360)
px_range = (300, 800)
py_range = (300, 800)

# Generate random data
data = {
    'A': [],
    'B': [],
    'theta': [],
    'Phi': [],
    'Px': [],
    'Py': [],
}


# Generate remaining random data
for _ in range(num_data_points):
    data['A'].append(random.randint(*A_range))
    data['B'].append(random.randint(*B_range))
    data['theta'].append(random.randint(*theta_range))
    data['Phi'].append(random.randint(*phi_range))
    data['Px'].append(random.randint(*px_range))
    data['Py'].append(random.randint(*py_range))

# Create a DataFrame
df = pd.DataFrame(data)

In [3]:
import pandas as pd
import numpy as np


def filter_data(df):
    """
    过滤数据的函数。

    参数：
    df (DataFrame): 包含原始数据的DataFrame。

    返回：
    DataFrame: 过滤后的DataFrame。
    """
    # 定义过滤条件
    def condition1(df):
        return df['A'] < df['Py']

    def condition2(df):
        return df['B'] < (df['Px'] / 2)
    

    # 使用逻辑与连接所有过滤条件
    combined_condition = pd.Series(True, index=df.index)
    for condition in [condition1,condition2]:
        combined_condition = combined_condition & condition(df)

    # 根据过滤条件进行筛选
    filtered_df = df[combined_condition]

    return filtered_df

# 读取数据
# df = pd.read_csv('random_data_with_segments.csv')

# 使用函数过滤数据
filtered_df = filter_data(df)

# 打印过滤前后的数据数量
print(f"过滤前的数据数量: {len(df)}")
print(f"过滤后的数据数量: {len(filtered_df)}")

# 如果需要保存过滤后的数据，可以使用以下代码
# filtered_df.to_csv('filtered_data.csv', index=False)

过滤前的数据数量: 5000000
过滤后的数据数量: 4292475

In [20]:
data_60w = filtered_df.sample(n=600000, random_state=42)

In [21]:
data_60w.reset_index(drop=True, inplace=True)

In [22]:
former_data = pd.read_csv(r"D:\simulation\BMD\double_ellipse_50w.csv")

In [23]:
pd.concat([former_data,data_60w])

,type,Pic,A,B,theta,Phi,Px,Py
0,double_rec,a=324=b=166=theta=33=phi=283=Px=440=Py=431.png,324,166,33,283,440,431
1,double_rec,a=440=b=193=theta=33=phi=341=Px=672=Py=656.png,440,193,33,341,672,656
2,double_rec,a=341=b=72=theta=27=phi=258=Px=338=Py=644.png,341,72,27,258,338,644
3,double_rec,a=315=b=106=theta=7=phi=14=Px=590=Py=654.png,315,106,7,14,590,654
4,double_rec,a=300=b=84=theta=35=phi=73=Px=734=Py=590.png,300,84,35,73,734,590
...,...,...,...,...,...,...,...,...
599995,NaN,NaN,400,95,25,252,580,756
599996,NaN,NaN,438,92,14,65,702,472
599997,NaN,NaN,360,100,1,233,507,477
599998,NaN,NaN,309,66,37,137,322,607
599999,NaN,NaN,251,132,37,347,776,598

In [6]:
data_50W.insert(0, 'Pic', None)
data_50W.insert(0, 'type', "double_rec")

In [31]:
# 将索引重置为从0开始的连续整数
data_50W.reset_index(drop=True, inplace=True)
data_50W

                  type  Pic    A    B  theta  Phi   Px   Py
0       double_ellipse  NaN  303   97     36  360  704  645
1       double_ellipse  NaN  392   84     15   25  563  560
2       double_ellipse  NaN  415  144     20  174  564  651
3       double_ellipse  NaN  418   71     26    9  713  651
4       double_ellipse  NaN  394  114     27  135  390  653
...                ...  ...  ...  ...    ...  ...  ...  ...
499995  double_ellipse  NaN  251  120     14  355  443  307
499996  double_ellipse  NaN  269  105     30    5  333  787
499997  double_ellipse  NaN  440  139     10  177  753  612
499998  double_ellipse  NaN  412  129     36  164  800  645
499999  double_ellipse  NaN  298  149     18   49  490  727

[500000 rows x 8 columns]

In [32]:
from tqdm import tqdm
for i in tqdm(range(len(data_50W))):
    a = data_50W.iloc[i]['A']
    b = data_50W.iloc[i]['B']
    Px = data_50W.iloc[i]['Px']
    Py = data_50W.iloc[i]['Py']
    theta = data_50W.iloc[i]['theta']
    phi = data_50W.iloc[i]['Phi']
    pic_name = f'a={a}=b={b}=theta={theta}=phi={phi}=Px={Px}=Py={Py}.png'
    data_50W.loc[i,"Pic"] = pic_name

100%|██████████| 500000/500000 [02:51<00:00, 2921.70it/s]

In [33]:
data_50W

,type,Pic,A,B,theta,Phi,Px,Py
0,double_ellipse,a=303=b=97=theta=36=phi=360=Px=704=Py=645.png,303,97,36,360,704,645
1,double_ellipse,a=392=b=84=theta=15=phi=25=Px=563=Py=560.png,392,84,15,25,563,560
2,double_ellipse,a=415=b=144=theta=20=phi=174=Px=564=Py=651.png,415,144,20,174,564,651
3,double_ellipse,a=418=b=71=theta=26=phi=9=Px=713=Py=651.png,418,71,26,9,713,651
4,double_ellipse,a=394=b=114=theta=27=phi=135=Px=390=Py=653.png,394,114,27,135,390,653
...,...,...,...,...,...,...,...,...
499995,double_ellipse,a=251=b=120=theta=14=phi=355=Px=443=Py=307.png,251,120,14,355,443,307
499996,double_ellipse,a=269=b=105=theta=30=phi=5=Px=333=Py=787.png,269,105,30,5,333,787
499997,double_ellipse,a=440=b=139=theta=10=phi=177=Px=753=Py=612.png,440,139,10,177,753,612
499998,double_ellipse,a=412=b=129=theta=36=phi=164=Px=800=Py=645.png,412,129,36,164,800,645
499999,double_ellipse,a=298=b=149=theta=18=phi=49=Px=490=Py=727.png,298,149,18,49,490,727

In [34]:
data_50W.to_csv('double_ellipse_50w2.csv', index=False)

### 绘图

In [1]:
import matplotlib.pyplot as plt
import matplotlib.patches as patches
import os
import pandas as pd
import numpy as np
import matplotlib.transforms as transforms
# import cv2
import math
from tqdm import tqdm

In [2]:
data = pd.read_csv('double_ellipse_50w2.csv')
data

,type,Pic,A,B,theta,Phi,Px,Py
0,double_ellipse,a=303=b=97=theta=36=phi=360=Px=704=Py=645.png,303,97,36,360,704,645
1,double_ellipse,a=392=b=84=theta=15=phi=25=Px=563=Py=560.png,392,84,15,25,563,560
2,double_ellipse,a=415=b=144=theta=20=phi=174=Px=564=Py=651.png,415,144,20,174,564,651
3,double_ellipse,a=418=b=71=theta=26=phi=9=Px=713=Py=651.png,418,71,26,9,713,651
4,double_ellipse,a=394=b=114=theta=27=phi=135=Px=390=Py=653.png,394,114,27,135,390,653
...,...,...,...,...,...,...,...,...
499995,double_ellipse,a=251=b=120=theta=14=phi=355=Px=443=Py=307.png,251,120,14,355,443,307
499996,double_ellipse,a=269=b=105=theta=30=phi=5=Px=333=Py=787.png,269,105,30,5,333,787
499997,double_ellipse,a=440=b=139=theta=10=phi=177=Px=753=Py=612.png,440,139,10,177,753,612
499998,double_ellipse,a=412=b=129=theta=36=phi=164=Px=800=Py=645.png,412,129,36,164,800,645
499999,double_ellipse,a=298=b=149=theta=18=phi=49=Px=490=Py=727.png,298,149,18,49,490,727

In [3]:
def double_ellipse_draw(save_name, A, B, a, Px, Py,phi, dir):
    fig, ax = plt.subplots(figsize=(1, 1))
    ax.set_xlim(-450, 450)
    ax.set_ylim(-450, 450)

    # 绘制白色背景
    ax.set_facecolor('white')

    # 绘制黄色矩形
    rect_center = (0, 0)  # 矩形中心点坐标
    rect_width = Px  # 矩形长度
    rect_height = Py  # 矩形宽度
    rect = patches.Rectangle((rect_center[0] - rect_width / 2, rect_center[1] - rect_height / 2),
                             rect_width, rect_height, linewidth=1, edgecolor='yellow', facecolor='yellow')
    ax.add_patch(rect)

    # 绘制红色矩形1
    ellipse_center = (Px/4, 0)  # 椭圆中心点坐标
    major_axis = A  # 长轴
    minor_axis = B  # 短轴
    angle = -a  # 旋转角度
    ellipse_1 = patches.Ellipse(ellipse_center, major_axis, minor_axis, angle=angle, linewidth=1, edgecolor='red', facecolor='red')

    # 绘制红色矩形2
    ellipse_center = (-Px/4, 0)  # 椭圆中心点坐标
    major_axis = A  # 长轴
    minor_axis = B  # 短轴
    angle = a  # 旋转角度
    ellipse_2 = patches.Ellipse(ellipse_center, major_axis, minor_axis, angle=angle, linewidth=1, edgecolor='red', facecolor='red')


    # 将两个红色矩形作为一个整体，围绕画布中心进行旋转
    trans = patches.Affine2D().rotate_deg(phi) + ax.transData
    ellipse_1.set_transform(trans)
    ellipse_2.set_transform(trans)

    ax.add_patch(ellipse_1)
    ax.add_patch(ellipse_2)

    # 显示图像
    plt.gca().set_aspect('equal', adjustable='box')
    plt.axis('off')  # 关闭坐标轴
    plt.subplots_adjust(top=1, bottom=0, right=1, left=0, hspace=0, wspace=0)
    plt.margins(0, 0)
    plt.savefig(os.path.join(dir, save_name + '.png'))
    # plt.show()
    plt.clf ()
    plt.close()

# double_ellipse_draw("1",120,300,17.5,500,350,30,os.getcwd())

In [4]:
save_dir = r'D:\simulation\BMD\double_ellipse\pic_expand'
for i in tqdm(range(len(data))):
    num = 0
    name = os.path.splitext(data.iloc[i]['Pic'])[0]
    if os.path.exists(os.path.join(save_dir, name + '.png')):
        continue
    else:
        if num == 100000:
            print('done')
            break
        a = data.iloc[i]['A']
        b = data.iloc[i]['B']
        Px = data.iloc[i]['Px']
        Py = data.iloc[i]['Py']
        theta = data.iloc[i]['theta']
        phi = data.iloc[i]['Phi']
        double_ellipse_draw(name,int(a), int(b), int(theta), int(Px), int(Py), int(phi), save_dir)
        plt.close("all")
        num += 1

  0%|          | 0/500000 [00:00<?, ?it/s]

:

### 筛选

In [3]:
from PIL import Image
# Image.open(os.path.join(droplist["dir"][1520],droplist["name"][1520]+".png"))

import cv2
import numpy as np

def check_check(img,Px,Py):

    # 读取图像
    image = cv2.imread(img)

    # 计算图像中心坐标
    image_center_x = image.shape[1] // 2
    image_center_y = image.shape[0] // 2


    # 定义矩形框尺寸
    rect_width, rect_height = Px//9, Py//9

    # 计算矩形框左上角坐标
    rect_x = image_center_x - rect_width // 2
    rect_y = image_center_y - rect_height // 2

    # 定义红色
    red = [0, 0, 255]

    # 检查框外的红色像素
    is_red_outside = False
    for y in range(image.shape[0]):
        for x in range(image.shape[1]):
            # 检查是否在框外

            if not (rect_x <= x < rect_x + rect_width and rect_y <= y < rect_y + rect_height):
                # 检查像素是否为红色
                if np.array_equal(image[x,y], red):
                    is_red_outside = True
                    break
        if is_red_outside:
            break

    # 输出结果
    if is_red_outside:
        return True
    else:
        return False

    # 绘制图像和矩形框（可选）
    # cv2.rectangle(image, (rect_x, rect_y), (rect_x + rect_width, rect_y + rect_height), (0, 255, 0), 2)
    # cv2.imshow('Image with Rectangle', image)
    # cv2.waitKey(0)
    # cv2.destroyAllWindows()

In [4]:
index = 5231
name = data["Pic"][index]
dirr = "D:\simulation\BMD\double_ellipse\pic_expand_2"
Px = data.iloc[index]['Px']
Py = data.iloc[index]['Py']
check_check(os.path.join(dirr,name),int(Px),int(Py))

True

In [5]:
data.insert(1,"filter",None)
# True:需要筛选 False：符合要求不需要筛选

In [6]:
data

,type,filter,Pic,A,B,theta,Phi,Px,Py
0,double_ellipse,None,a=303=b=97=theta=36=phi=360=Px=704=Py=645.png,303,97,36,360,704,645
1,double_ellipse,None,a=392=b=84=theta=15=phi=25=Px=563=Py=560.png,392,84,15,25,563,560
2,double_ellipse,None,a=415=b=144=theta=20=phi=174=Px=564=Py=651.png,415,144,20,174,564,651
3,double_ellipse,None,a=418=b=71=theta=26=phi=9=Px=713=Py=651.png,418,71,26,9,713,651
4,double_ellipse,None,a=394=b=114=theta=27=phi=135=Px=390=Py=653.png,394,114,27,135,390,653
...,...,...,...,...,...,...,...,...,...
499995,double_ellipse,None,a=251=b=120=theta=14=phi=355=Px=443=Py=307.png,251,120,14,355,443,307
499996,double_ellipse,None,a=269=b=105=theta=30=phi=5=Px=333=Py=787.png,269,105,30,5,333,787
499997,double_ellipse,None,a=440=b=139=theta=10=phi=177=Px=753=Py=612.png,440,139,10,177,753,612
499998,double_ellipse,None,a=412=b=129=theta=36=phi=164=Px=800=Py=645.png,412,129,36,164,800,645
499999,double_ellipse,None,a=298=b=149=theta=18=phi=49=Px=490=Py=727.png,298,149,18,49,490,727

In [8]:
dirr = "D:\simulation\BMD\double_ellipse\pic_expand_2"
for i in tqdm(range(len(data))):
    name = data["Pic"][i]
    Px = data.iloc[i]['Px']
    Py = data.iloc[i]['Py']
    data.loc[i,"filter"] = check_check(os.path.join(dirr,name),int(Px),int(Py))

100%|██████████| 500000/500000 [3:25:07<00:00, 40.62it/s]

In [13]:
data_part_2 = data[data["filter"]==False]
data_part_2

,type,filter,Pic,A,B,theta,Phi,Px,Py
0,double_ellipse,False,a=303=b=97=theta=36=phi=360=Px=704=Py=645.png,303,97,36,360,704,645
9,double_ellipse,False,a=252=b=61=theta=19=phi=285=Px=514=Py=300.png,252,61,19,285,514,300
14,double_ellipse,False,a=292=b=119=theta=22=phi=67=Px=535=Py=698.png,292,119,22,67,535,698
19,double_ellipse,False,a=293=b=69=theta=39=phi=286=Px=556=Py=601.png,293,69,39,286,556,601
21,double_ellipse,False,a=262=b=69=theta=33=phi=22=Px=414=Py=431.png,262,69,33,22,414,431
...,...,...,...,...,...,...,...,...,...
499991,double_ellipse,False,a=386=b=102=theta=41=phi=335=Px=583=Py=657.png,386,102,41,335,583,657
499992,double_ellipse,False,a=267=b=144=theta=35=phi=185=Px=607=Py=618.png,267,144,35,185,607,618
499993,double_ellipse,False,a=310=b=94=theta=32=phi=339=Px=335=Py=551.png,310,94,32,339,335,551
499996,double_ellipse,False,a=269=b=105=theta=30=phi=5=Px=333=Py=787.png,269,105,30,5,333,787
499999,double_ellipse,False,a=298=b=149=theta=18=phi=49=Px=490=Py=727.png,298,149,18,49,490,727

In [16]:
data_part_1 = pd.read_csv('double_ellipse_50w_filter1.csv')
data_part_1 = data_part_1[data_part_1["filter"]==False]

In [18]:
data_all = pd.concat([data_part_1,data_part_2])
data_all["type"] = "double_ellipse"

In [20]:
data_35w = data_all.sample(n=350000)
data_35w.to_csv('double_ellipse_35w.csv', index=False)

In [12]:
data.to_csv('double_ellipse_50w_filter2.csv', index=False)

In [2]:
import shutil
import os

data = pd.read_csv('double_ellipse_35w.csv')
data

,type,filter,Pic,A,B,theta,Phi,Px,Py
0,double_ellipse,False,a=351=b=168=theta=21=phi=135=Px=631=Py=592.png,351,168,21,135,631,592
1,double_ellipse,False,a=287=b=71=theta=33=phi=138=Px=710=Py=758.png,287,71,33,138,710,758
2,double_ellipse,False,a=287=b=74=theta=22=phi=214=Px=704=Py=632.png,287,74,22,214,704,632
3,double_ellipse,False,a=300=b=198=theta=43=phi=49=Px=728=Py=734.png,300,198,43,49,728,734
4,double_ellipse,False,a=329=b=170=theta=10=phi=298=Px=586=Py=533.png,329,170,10,298,586,533
...,...,...,...,...,...,...,...,...,...
349995,double_ellipse,False,a=272=b=61=theta=14=phi=80=Px=692=Py=697.png,272,61,14,80,692,697
349996,double_ellipse,False,a=319=b=178=theta=6=phi=339=Px=376=Py=528.png,319,178,6,339,376,528
349997,double_ellipse,False,a=275=b=172=theta=4=phi=206=Px=347=Py=735.png,275,172,4,206,347,735
349998,double_ellipse,False,a=266=b=192=theta=28=phi=71=Px=694=Py=425.png,266,192,28,71,694,425
349999,double_ellipse,False,a=257=b=184=theta=3=phi=257=Px=773=Py=560.png,257,184,3,257,773,560

In [6]:
import os
import shutil
from concurrent.futures import ThreadPoolExecutor
from tqdm import tqdm

source_dir1 = r"D:\simulation\BMD\double_ellipse\pic_expand_1"
source_dir2 = r"D:\simulation\BMD\double_ellipse\pic_expand_2"
source_dir1_list = set(os.listdir(source_dir1))
source_dir2_list = set(os.listdir(source_dir2))
target_dir = r"D:\simulation\BMD\double_ellipse\pic_expand"

def copy_file(name):
    if name in source_dir1_list:
        shutil.copy(os.path.join(source_dir1, name), os.path.join(target_dir, name))
    else:
        shutil.copy(os.path.join(source_dir2, name), os.path.join(target_dir, name))

with ThreadPoolExecutor() as executor:
    list(tqdm(executor.map(copy_file, data["Pic"]), total=len(data)))

100%|██████████| 350000/350000 [59:38<00:00, 97.82it/s]